@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    margin: 0;
    margin-top: 70px;
}

.column-1 {
    grid-column: 2;
    width: 300px;

    /* flex stuff*/
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 80px;

    height: 100%;
    padding-right: 20px;

    transform: translateX(-150px);
}

.name-header {
    text-align: right;
    font-size: 68px;
}

ul {
    list-style-type: none;
}
.bullets a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 8px 0;
    font-size: 20px;
}

.bullets {
    text-align: right;
}

.column-2 {
    grid-column: 3;
    width: 700px;
    font-size: 24px;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    transform: translateX(-150px);

    border-right: 5px dotted rgba(0, 0, 0, 0.6);
    border-left: 5px dotted rgba(0, 0, 0, 0.6);
}
