.profile-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* float: right; */
    border: 6px solid var(--octopus-blue);
    margin-bottom: 12px;
    margin-left: 12px;
}

.profile-container {
    border: 4px solid var(--navy-blue);
    display: flex;
    padding: 10px;
}
