* {
    --octopus-red: #d4132a;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    height: 100vh;
}

.column-1 {
    grid-column: 2;
    width: 300px;
    height: 100%;
    transform: translateX(-150px);
}

.column-2 {
    grid-column: 3;
    width: 800px;
    height: 100%;
    transform: translateX(-150px);
    border-right: 5px dotted black;
    border-left: 5px dotted black;
    padding: 20px 20px 0 20px;
}
