* {
    --octopus-blue: #8097b5;
    --navy-blue: #292d6b;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding-right: 20px;
}

.header {
    margin-top: 90px;
    text-align: right;
    font-size: 70px;
    line-height: 1;
    padding: 10px;
    border: 7px solid var(--navy-blue);
    color: var(--navy-blue);
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

nav {
    width: 87%;
}

.bullets {
    padding-left: 0;
    width: 100%;
}

.bullets li {
    width: 100%;
}

.bullets a {
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    text-decoration: none;
    color: black;
    display: block;
    padding: 4px 8px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
}

.bullets a:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
}

.bullets a.active {
    background-color: var(--octopus-blue);
    color: white;
    padding: 4px 8px;
    transition: background-color 0.5s ease;
    transition: color 0.3s ease;
}
