@font-face {
    font-family: 'Source Sans 3';
    src: url('/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro-Italic-VariableFont_wght.ttf')
        format('truetype');
    font-weight: 200 900;
    font-style: italic;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro-Italic-VariableFont_wght.ttf')
        format('truetype');
    font-weight: 200 900;
    font-style: italic;
}

* {
    --background-color: #ecdbc0;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

body {
    background-image: url('images/paper-texture-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        250,
        238,
        212,
        0.5
    ); /* White overlay - adjust 0.3 for more/less lightening */
    z-index: -1;
    pointer-events: none;
}

p {
    font-family:
        -apple-system,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Source Code Pro', monospace;
}
