.bio-container {
  width: 100%;
  padding: 1rem 0 1rem 0 !important;
  align-items: start;
}
.bio-grid {
  padding: 0;
  width: 350px;
  height: auto;
}
.bio-grid > img {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
  min-height: 0;
  box-sizing: border-box;
  margin-right: 0 0 0 0;
}
.bio-grid-info {
  padding: 1rem;
}
.bio-grid-info h1 {
  font-family: 'Trispace', sans-serif;
  font-size: 2rem;
  margin: 1rem 0 0 0.5rem;
}
.bio-grid-info p {
  font-family: 'Space Mono', sans-serif;
  font-size: 1.5rem;
}
