.bio-container {
  padding: 2rem 2rem 2rem 2rem ;
  width: 70%;
}
.bio-grid {
  display: flex;
  overflow: hidden;
  padding: 0 !important;
}

.bio-grid img {
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  width: 33%;
  height: auto;
  min-height: 0;
  box-sizing: border-box;
  margin-right: 0 0 0 0;
}

.about-me-section{
  border-radius: 0 8px 8px 0;
  width: 100%;
  margin-left: 0;
  padding: 2rem;
}
.about-me-section h1{
  font-family: 'Trispace', sans-serif;
  color: white;
  font-size: 3rem;
  margin: 0.1rem 0 1rem 0;
  letter-spacing: 0.1rem;
}
.about-me-section p{
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 1.9rem;
}
