
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;

  padding-left: 2rem;
}
.header h1 {
  font-family: 'Share Tech', sans-serif;
  font-weight: 700;
  font-stretch: 100%;
  font-size: 7rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 2rem 0 0 0;

  background: linear-gradient(160deg, #b0b0b0 20%, #ffffff 50%, #b0b0b0 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-icon {
  height: 6rem;
  width: auto;
  align-self: center;
  margin: 0 -0.5rem;
  transform: translateY(1rem);
}

.header h2 {
  font-family: 'Space Mono', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;

  margin: 1rem 0 1rem 0;

  color: rgba(255, 255, 255, 0.7);
}


