.bio-section {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.bio-section > div {
  padding: 2rem;
  margin: 0;
}
.bio-section > div > h1 {
  font-family: 'Trispace', sans-serif;
}

.bio-section > .site-content {
  padding: 0 !important;
  width: 100%;
}
