.cards-panel {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem 2rem;
}

.cards-panel > h1 {
  grid-column: 1 / -1;
  font-size: 3.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  margin: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
