
.skills-panel {
  width: 65%;
  align-self: flex-end;
}
.skills-div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.div-header {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  margin: 0.2rem;
  margin-bottom: 2rem;
}
.skill-header {
  text-align: left;
  color: white;
  font-size: 2.4rem;
  align-self: start;
  margin: 0.3rem 7rem 1rem 0;
  padding: 0.2rem;
}

.langs-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
}
.lang-item {
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  margin: 0.25rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}
