@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #011b1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    color: var(--primary-color);
}

body {
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    margin: 0;
    margin-top: 70px;

    background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url('images/unspash-paper-1.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.column-1 {
    grid-column: 2;
    width: 300px;

    /* flex stuff*/
    display: flex;
    flex-direction: column;
    align-items: right;

    height: 100%;
    padding-right: 20px;

    transform: translateX(-150px);
}

.name-header {
    margin-top: 30px;
    text-align: right;
    font-size: 80px;
    line-height: 1;
}
.name-underline {
    padding-top: 0;
    margin-top: 4px;
    text-align: right;
    color: gray;
}

ul {
    list-style-type: none;
    margin-top: 80px;
}
.bullets a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 8px 0;
    font-size: 20px;
}

.bullets {
    text-align: right;
}

.column-2 {
    grid-column: 3;
    width: 700px;
    font-size: 24px;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    transform: translateX(-150px);
    color: var(--primary-color);

    border-right: 5px dotted var(--primary-color);
    border-left: 5px dotted var(--primary-color);
}
