
.main-view-flex {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.main-view {
  width: 85vw;
  margin: 0;
  min-height: 100vh;
}
.content-flex {
  width: 80%;
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin-bottom: 4rem;
  overflow: hidden;
}


.header-panel {
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 4rem 0;
}
.header-panel-top{
  border-radius: 8px 8px 0 0;
  padding: 1rem;
}
.header-panel-bottom {
  padding: 0.5rem 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
