
.main-view-flex {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.main-view {
  width: 120rem;
  height: 100vh;
}
.content-flex {
  --content-padding: 8rem;
  padding: 0 var(--content-padding) 0 var(--content-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

