body {
    margin: 0;
    padding: 0;
}

.content {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

h1,
p,
span,
a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
